.app-header {
  background-color: #1A2B4C;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;

  .app-title-link {
    text-decoration: none;
    color: white;
    font-size: 1.25rem; 
    font-weight: 500; 
    display: flex;
    align-items: center;
    height: 100%; 
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;

    mat-list-item {
      height: 100%;
      display: flex;
      align-items: center;


      a.mat-button,
      button.mat-button {
        height: 100%;
        padding: 0 16px;
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;

        &.active-link {
          background-color: rgba(255, 255, 255, 0.15);
          border-bottom: 2px solid white;
          border-radius: 0;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.08);
        }
      }
    }
  }
  .menu-button {
    display: none; 
  }

  @media (max-width: 768px) {
    .header-nav-list {
      display: none;
    }
    .menu-button {
      display: block; 
    }
    .app-title-link {
      font-size: 1.1rem; 
    }
  }
}